/* Basic responsive styles for Kate Simone's homepage recreation */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f8f9fa;
  color: #222;
}

.divider {
  display: flex;
  gap: 3rem;
  margin: 1rem 3rem;
}

main {
  width: 80%;
}

.links {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 2rem 0 1rem 0;
}

.links a {
  padding: 1rem;
  border-radius: 0.25rem;
  color: white;
  text-decoration: none;
  font-weight: 600;
  background-color: #3d3d3d;
  transition: 0.2s, border 0.2s;
}

.links a:hover,
.links a:focus {
  background-color: #616161;
}

.visualizationLink {
  background-color: #f8f9fa !important;
  border: 2px solid #2a7ae2;
  color: #2a7ae2 !important;
}

.visualizationLink:focus,
.visualizationLink:hover {
  background-color: #2a7ae2 !important;
  color: #f2f2f2 !important;
}

.arrowColour {
  stroke: white;
  fill: white;
}

nav {
  background: #f8f9fa;
  border-bottom: #000000 solid 0.1rem;
  display: flex;
  align-items: baseline;
  margin: 2rem 4rem;
  padding-bottom: 0.5rem;
  gap: 2rem;
  font-family: "Space Mono", monospace;
}

.nameFlex {
  display: flex;
  align-items: flex-start;
  align-items: baseline;
  gap: 1.5rem;
}

.name {
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: none;
  color: black;
}

nav .subtitle {
  color: #666;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

nav .time {
  color: #aaa;
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
}

.content {
  margin-left: 4rem;
  margin-right: 4rem;
}

.hero {
  padding: 2rem 1rem 1rem 1rem;
}

.hero h1 {
  font-weight: 400;
  font-size: 4rem;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.hero .highlight {
  font-size: 1.5rem;
  text-align: center;
  vertical-align: text-top;
  padding-right: 0.5rem;
  font-family: "Space Mono", monospace;
}

.hero .roles {
  display: inline-block;
  margin: 0.25rem 0;
  background: #e3f0fc;
  padding: 0.3rem 1rem;
  font-family: "Roboto", sans-serif;
  font-style: italic;

  width: fit-content;
  border-radius: 0.25rem;
}

.hero .role {
  display: inline-block;
  color: #2a7ae2;
  margin: 0;
  border-radius: 1.2rem;
  font-size: 4rem;
  font-weight: 400;
}

.about {
  margin: 2rem auto;
  background: rgb(244, 244, 244);
  border-radius: 0.25rem;

  padding: 2rem 2rem;
}

.about h2 {
  margin-top: 0;
  margin-bottom: 0;
  color: #2a7ae2;
  font-size: 2rem;
  font-family: "Space mono", monospace;
}

.about p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6;
}

@media (width <=56rem) {
  .hero .highlight {
    font-size: 1.25rem;
  }

  .hero h1 {
    font-size: 3rem;
  }

  .hero .role {
    font-size: 3rem;
  }

  .nameFlex {
    flex-direction: column;
    gap: 0.1em;
  }
}

@media (width <=43.75rem) {

  main {
    width: 100%;
  }

  .about {
    margin-bottom: 1rem;
  }

  .divider {
    flex-direction: column;
    gap: 1.5rem;
  }

  .links {
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    gap: 0.7rem;
  }

  .divider {
    margin: 1rem 1.5rem;
    gap: 0;
  }

  .hero h1 {
    font-size: 2rem;

  }

  .hero .role {
    font-size: 2rem;
  }

  .hero .highlight {
    font-size: 0.8rem;
  }

  nav {
    margin: 2rem 2.5rem;
  }

}
@media(width < 21rem){
  .divider {
    margin: 0.5rem 0.75rem;
    gap: 0;
  }

  nav {
    margin: 1.5rem 1.5rem;
  }

  .about{
    padding: 1rem 1rem
  }
}

@keyframes textSwap {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  50% {
    opacity: 0;
    transform: translateX(-10px);
  }

  51% {
    opacity: 0;
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-swap {
  animation: textSwap 0.5s forwards;
}